@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--ffamliy: "Poppins", sans-serif;
	--fweight200: 200;
	--fweight400: 400;
	--fweight600: 600;

	--topcolor-supervisor: hsl(180, 62%, 55%);
	--topcolor-teambuilder: hsl(0, 78%, 62%);
	--topcolor-karma: hsl(34, 97%, 64%);
	--topcolor-calculator: hsl(212, 86%, 64%);

	--bgcolor-body: hsl(0, 0%, 98%);
	--fcolor-header: hsl(234, 12%, 34%);
	--fcolor-text: hsl(229, 6%, 66%);
}

body {
	background-color: var(--bgcolor-body);
	font-family: var(--ffamliy);
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 100%;
	min-height: 100vh;
	gap: 30px;
	padding: 50px;
}

header {
	display: flex;
	max-width: 40%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	row-gap: 15px;
}

header > h1 {
	color: var(--fcolor-header);
}

header > h1 > p:first-child {
	font-weight: var(--fweight200);
}

header > h1 > p:last-child {
	font-weight: var(--fweight600);
}

header > p {
	color: var(--fcolor-text);
	font-weight: var(--fweight400);
	font-size: 15px;
	line-height: 25px;
}

section {
	display: grid;
	max-width: 80%;
	gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, 1fr);
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;

	background-color: rgb(255, 255, 255);
	padding: 20px;
	border-top: 5px solid black;
	border-radius: 5px;
	text-align: left;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 4px 8px 0px;
}
.card > img {
	position: relative;
	align-self: flex-end;
	justify-self: center;
	margin-top: 30px;
	bottom: 15px;
}

.card > h2 {
	color: var(--fcolor-header);
	line-height: 50px;
}

.card > p {
	color: var(--fcolor-text);
	font-weight: var(--fweight200);
}
.supervisor,
.calculator {
	border-top-color: var(--topcolor-supervisor);
	grid-row: 1 / span 2;
	align-self: center;
}

.team-builder {
	border-top-color: var(--topcolor-teambuilder);
	grid-column: 2;
}

.karma {
	border-top-color: var(--topcolor-karma);
	grid-row: 2;
}

.calculator {
	border-top-color: var(--topcolor-calculator);
}

@media screen and (max-width: 1080px) {
	section {
		display: flex;
		flex-direction: column;
		max-width: 700px;
	}
	header {
		display: grid;
		grid-template-columns: 1fr;
		max-width: 70%;
	}
	header > h1,
	header > p {
		width: 100%;
	}
	.card {
		width: 70%;
		align-self: center;
		justify-self: center;
	}
}
